.chartsize{
  width: 40% !important;
  height: 40% !important;
}

#leftside {
  float: left;
  width: 100%;
  background-color: #CCF;
}
#rightside {
  float: right;
  width: 200px;
  margin-right: -200px;
  background-color: #FFA;
}
