<div layout="row" layout-sm="column">
  <div  class="middle" flex>
    <li ng-repeat="test in vm.myTests">
      <md-button style="background-color: white" ng-click="vm.selectTest(test)">{{ test.name }}</md-button>
    </li>
    <p style="font-size: 20px;"><b>סיכום מצב תרגילים</b></p>
    <canvas id="bar" class="chartsize chart chart-bar" style="background-color: white;"
            chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series">
      </canvas>
  </div>
  <div class="middle" flex ng-if="vm.specificTest">
    <p><b>תוצאות של {{vm.specificTestName}}</b></p>
    <div>
    <canvas id="doughnut" class="chartsize chart chart-doughnut"
            chart-data="vm.dataTest" chart-labels="vm.labelsTest">
    </canvas>
    </div>
  </div>
</div>
