<div>
  <h3>שם התרגול: {{vm.testData.name}}</h3>
  <div novalidate class="simple-form">
    <md-input-container class="quarter">
      <label>הכנס קישור לתמונה</label>
      <input type="text" ng-model="vm.imgEx.img_url" />
    </md-input-container>
    <div  data-ng-repeat="answer in vm.imgEx.answers">
      <!--<button class="remove" ng-click="vm.removeChoice(answer.index)">X</button>-->
      <md-button class="md-fab" ng-click="vm.removeChoice(answer.index)">
        <md-icon md-svg-src="../assets/images/remove.svg"></md-icon>
      </md-button>
      <md-input-container class="quarter">
        <label>הכנס תשובה אפשרית</label>
        <input type="text" ng-model="answer.text">
      </md-input-container>
      <label><input type="radio" ng-model="vm.imgEx.right_answer" value={{answer.text}} />התשובה הנכונה</label>
    </div>


    <md-button id="addanswer" class="md-fab" ng-click="vm.addNewChoice()">
      <md-icon md-svg-src="../assets/images/plus.svg"></md-icon>
    </md-button>
    <!--<button class="addfields" ng-click="vm.addNewChoice()">תשובה נוספת</button> <br/>-->
    <div>
      <input type="button" class="remove" ng-click="vm.reset()" value="ביטול" />
      <input type="button" class="addfields" ng-click="vm.next()" value="המשך" />
      <input type="submit" class="addfields" ng-click="vm.finish()" value="סיום" />
    </div>
  </div>
  <pre>testData = {{vm.testData | json}}</pre>
</div>
