<div>
  <form novalidate class="simple-form">
    <label>Image URL: <input type="text" ng-model="vm.imgEx.img_url" /></label><br />
    <fieldset  data-ng-repeat="answer in vm.imgEx.answers">
      <button class="remove" ng-click="vm.removeChoice(answer.index)">X</button>
      <label>Answer:<input type="text" ng-model="answer.text" /></label>
      <label><input type="radio" ng-model="vm.imgEx.right_answer" value={{answer.text}} />is right answer</label>
    </fieldset>



    <button class="addfields" ng-click="vm.addNewChoice()">Add fields</button> <br/>
    <input type="button" class="remove" ng-click="vm.reset()" value="Reset" />
    <input type="submit" class="addfields" ng-click="vm.update(user)" value="Save" />
  </form>
  <pre>imgEx = {{vm.imgEx | json}}</pre>
  <pre>master = {{vm.master | json}}</pre>
</div>
