<div>
   <form ng-submit="submit()">
     <h1 style="text-align:left;float:left;">{{vm.imgEx.exName}} :</h1>
     <h2 style="text-align:right;float:right;"> רמת קושי </h2>
     <h2 style="text-align:right;float:right;">&nbsp; {{vm.imgEx.exLevel}} &nbsp;</h2>
     <hr style="clear:both;"/>
     <img src="{{vm.imgEx.img_url}}">

     <!--
     <md-radio-group ng-model="vm.nameEx">
       <md-radio-button ng-repeat="answer in vm.imgEx.answers"
                        ng-value="answer"
                        ng-disabled=" d.isDisabled "
                        ng-class="{'md-align-top-left': $index==1}" >
         {{answer}}
       </md-radio-button>
     </md-radio-group>
    -->

     <form novalidate class="simple-form">
    <fieldset  data-ng-repeat="answer in vm.imgEx.answers">
      <div layout="row" ng-if="$even">
        <div flex>
          <span>
            <button id="ansBtn{{$index}}" ng-click="vm.submit(answer,"ansBtn"+$index)">{{vm.imgEx.answers[$index]}}</button>
          </span>
        </div>
        <div flex>
          <span>
            <button id="ansBtn{{$index+1}}" ng-click="vm.submit(answer)">{{vm.imgEx.answers[$index+1]}}</button>
          </span>
        </div>
      </div>
    </fieldset>
  </form>

</div>
