<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="left center">
    <md-button ng-click="vm.openInitDialog()" class="md-raised">יצירת תרגול</md-button>
    <md-button ng-click="vm.config.goToState('home.exList')" class="md-raised">רשימת תרגילים</md-button>
    <md-button ng-click="vm.config.goToState('home.clientPro')" class="md-raised">מצב התקדמות</md-button>
    <md-button ng-click="vm.config.goToState('home.register')" class="md-raised">הרשמה</md-button>
    <md-button ng-click="vm.config.goToState('home.login')" class="md-raised">התחברות</md-button>
    <md-button ng-click="vm.config.goToState('home.engineH')" class="md-raised">מנוע הנגשה</md-button>
  </section>

</md-toolbar>
