<md-toolbar layout="row" layout-align="center center">

  <section flex layout="row" layout-align="left center">
    <md-button ng-click="vm.config.goToState('home.engineH')" class="md-raised">מנוע הנגשה</md-button>
    <md-button ng-click="vm.openInitDialog()" class="md-raised">יצירת תרגול</md-button>
    <md-button ng-click="vm.config.goToState('home.exList')" class="md-raised">רשימת תרגולים</md-button>
    <md-button ng-click="vm.config.goToState('home.clientPro')" class="md-raised">מצב התקדמות</md-button>
    <!--<md-button ng-click="vm.config.goToState('home.register')" class="md-raised">הרשמה</md-button>-->
    <!--<md-button ng-click="vm.config.goToState('home.login')" class="md-raised">התחברות</md-button>-->
  </section>

<!--</md-toolbar>-->
<!--<md-content>-->
  <!--<md-tabs md-dynamic-height md-border-bottom>-->
    <!--<md-tab label="מנוע הנגשה">-->
      <!--<highlight-engine></highlight-engine>"-->
    <!--</md-tab>-->
    <!--<md-tab label="ציור מילים ">-->
      <!--<alfa-beta></alfa-beta>-->
    <!--</md-tab>-->
    <!--<md-tab label="רשימת תרגולים ">-->
      <!--<ex-list-directive></ex-list-directive>-->
    <!--</md-tab>-->
    <!--<md-tab label="מצב התקדמות ">-->
      <!--"<client-prograss></client-prograss>"-->
    <!--</md-tab>-->
  <!--</md-tabs>-->
<!--</md-content>-->
