.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

button{
  background-color: #ffffff !important;
  width: 15%;
}
span{
  color: #2787ff;
  font-weight: bold;
  font-size: 20px;
}
md-toolbar{
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}
