<md-content layout-padding>
  <div>
    <form name="userForm">
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>שם</label>
          <input ng-model="vm.user.name">
        </md-input-container>

        <md-input-container>
          <label>סיסמא</label>
          <input ng-model="vm.user.passport"></md-datepicker>
        </md-input-container>
      </div>

      <div>
        <md-button type="submit" ng-click="vm.login()">התחבר</md-button>
      </div>
    </form>
  </div>
</md-content>
